@import "font";
@import "public";
@import "reset";
@import "./skin/skin";
.eg-star-orange{
  display: inline-block;
  width: 70px;
  height: 13px;
  background: url('../../src/css/img/star.png') repeat-x 0 0;
  background-size: 70px auto;
  .eg-star-grey{
    height: inherit;
    background: url('../../src/css/img/star.png') repeat-x 0 -14px;
    background-size: inherit;
    overflow: hidden;
    max-width: 100%;
  }
}
.eg-star-orange-big{
  display: inline-block;
  width: 70px;
  height: 13px;
  background: url('../../src/css/img/star.png') repeat-x 0 0;
  background-size: 70px auto;
  .eg-star-grey{
    height: inherit;
    background: url('../../src/css/img/star.png') repeat-x 0 -14px;
    background-size: 70px auto;
    overflow: hidden;
    max-width: 100%;
  }
}
